:root{
    --color-background: rgb(18, 18, 20);
    --color-primary: rgb(0, 128, 0);
    --color-secondary: rgb(0, 91, 0);
    --color-font-white: #fff; 
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-font-white);
    overflow: hidden;
    font-size: 62.5%;
}

.container{
    display: grid;
    grid-template-rows: calc(29vh - 3rem) 22vh 22vh 22vh 5vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "j  j  bt"
                         "m1 m2 m3"
                         "m4 m5 m6"
                         "m7 m8 m9"
                         "f  f  f";
    max-width: 100rem;
    margin: 0 auto;
    grid-gap: 0.5rem;

}

.jogador{
    grid-area: j;
    font: 400 1.8rem Play;
}

#usuario-x, #usuario-o{
    width: 30vw;
    height: 3rem;
    border: 2px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-font-white);
    display: block;
    margin-top: 10px;
    font: 400 1.6rem Play;
}

.btn-jogar{
    grid-area: bt;
}

#jogar{
    width: 25vw;
    height: 12rem;
    background-color: var(--color-primary);
    color: var(--color-font-white);
    font: 700 1.8rem Play;
    margin-top: 2rem; 
}

#jogar:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
}

#usuario-x input:focus, #usuario-o input:focus, #jogar button:focus{
    outline: none;
}

.main-1{
    grid-area: m1;
}

.main-2{
    grid-area: m2;
}

.main-3{
    grid-area: m3;
}

.main-4{
    grid-area: m4;
}

.main-5{
    grid-area: m5;
}

.main-6{
    grid-area: m6;
}

.main-7{
    grid-area: m7;
}

.main-8{
    grid-area: m8;
}

.main-9{
    grid-area: m9;
}
.efeito{
    background-color: var(--color-primary);
}

.efeito:hover{
    background-color: var(--color-secondary);
}

.footer{
    grid-area: f;
    text-align: center;
}

.footer p{
    color: var(--color-font-white);
    font: 400 1.6rem Play;
}